.a-store {
  align-items: stretch;
}
  .a-store--list {
    list-style: none;
    padding: 0;
  }
  .a-store--list li {
    border: 1px solid #333;
    margin: 0.25em 0;
    padding: 0.5em;
  }
  .a-store--list li[data-selected="true"] {
    background: #fff;
    color: #000;
  }
  .a-store--feedback {
    color: #ffce00;
    min-height: 1.5em;
  }
  .a-store--instructions {
    opacity: 0.7;
  }
